<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peng.saishi"
    android:versionCode="2"
    android:versionName="1.2" >

    <!-- jMessae需要的权限 -->
    <permission
        android:name="com.peng.saishi.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required 一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.peng.saishi.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- JMessage Demo required for record audio -->

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- Optional for location -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Wifi的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permiss" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <application
        android:name=".manager.App"
        android:allowBackup="true"
        android:icon="@drawable/lauchicon"
        android:label="@string/app_name"
        android:theme="@style/MyStyle" >
  
           <activity
            android:name=".activity.FileMoreAct"
            android:theme="@style/DialogAct" 
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyFIleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/choose_file"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CodeShowActivity"
            android:theme="@style/DialogAct" >
        </activity>
        <activity android:name=".activity.QuestionListAct" >
        </activity>
        <!-- 回答正文act -->
        <activity
            android:name=".activity.AnswerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- 创建问题act -->
        <activity
            android:name=".activity.CreateQuestionAct"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的提问ac -->
        <activity
            android:name=".activity.MyQuestionAct"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 新闻的act -->
        <activity
            android:name=".activity.NewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 通知activity,提示用户比赛信息 -->
        <activity
            android:name=".activity.NoticeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 完善个人资料 -->
        <activity
            android:name=".activity.RegMoreActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.finalteam.galleryfinal.PhotoSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.finalteam.galleryfinal.PhotoEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.finalteam.galleryfinal.PhotoPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpArticleAct"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.UpdateTeamAct"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.JoinGroupAct"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ForgetActivity1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ForgetActivity2"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 照片jiemian -->
        <activity android:name=".activity.PhotoActivity" >
        </activity>
        <!-- 显示个人信息界面 -->
        <activity
            android:name=".activity.SeePersonActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 修改页面1 -->
        <activity
            android:name=".activity.UpdatePersonAct1"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 修改页面2 -->
        <activity
            android:name=".activity.UpdatePersonAct2"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 修改页面3 -->
        <activity
            android:name=".activity.UpdatePersonAct3"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 搜索页面 -->
        <activity
            android:name=".activity.SearchMatchActivity"
            android:screenOrientation="portrait" />
        <!-- 帮助与反馈界面 -->
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 普通网页界面 -->
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 二维码界面 -->
        <activity
            android:name=".activity.QrCodeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 群成员 -->
        <activity
            android:name=".activity.MemberActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 发表评价界面 -->
        <activity
            android:name=".activity.PublishReplyActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 评价列表界面 -->
        <activity
            android:name=".activity.ReplyActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 显示用户界面 -->
        <activity
            android:name=".activity.UserManagerActivity"
            android:screenOrientation="portrait" />
        <!-- 队伍信息几面 -->
        <activity
            android:name=".activity.TeamInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 聊天界面 -->
        <activity
            android:name=".activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent1104646053" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 修改密码activity -->
        <activity
            android:name=".activity.UpdatePswdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 我的收藏activity -->
        <activity
            android:name=".activity.ShouActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 个人资料activity -->
        <activity
            android:name=".activity.PersonDataActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 添加小组的Activity -->
        <activity
            android:name=".activity.AddGroupActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 比赛介绍 -->
        <activity
            android:name=".activity.MatchActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 比赛列表界面 -->
        <activity
            android:name=".activity.MatchListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 比赛列表2界面 -->
        <activity
            android:name=".activity.MatchList2Activity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 设置界面 -->
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/downstyle" />
        <!-- 测试使用的Activity -->

        <activity
            android:name=".activity.TestActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 主界面 -->
        <activity
            android:name=".activity.MainActivity"
            
            android:screenOrientation="portrait" >

        </activity>
        <!-- 注册界面 -->
        <activity
            android:name=".activity.RegActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 登陆界面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginStyle" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 退出的广播 -->
        <receiver android:name=".receiver.ExitReceiver" >
        </receiver>

        <service android:name="com.amap.api.location.APSService" >
        </service>

        <!-- QQ的im -->


        <!-- Required SDK 核心功能 -->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->

        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.1.4 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.peng.saishi" />
            </intent-filter>
        </service>

        <!-- Required Push SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.peng.saishi" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required Push SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.peng.saishi" />
            </intent-filter>
        </activity>
        <!-- Required Push SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <!-- Required Push SDK核心功能 -->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- IM Required IM SDK核心功能 -->
        <receiver
            android:name="cn.jpush.im.android.helpers.IMReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.im.android.action.IM_RESPONSE" />
                <action android:name="cn.jpush.im.android.action.NOTIFICATION_CLICK_PROXY" />

                <category android:name="com.peng.saishi" />
            </intent-filter>
        </receiver>
        <!-- 自己的几首者 -->
        <receiver
            android:name="com.peng.saishi.receiver.MyPushService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />

                <category android:name="com.peng.saishi" />
            </intent-filter>
        </receiver>
        <!-- Required. Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="57d013f5" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="51f0391c24d59fee5e94c28e" />
        <meta-data
            android:name="DATABASE"
            android:value="saiban.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.peng.saishi" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d4c129b9ee3f9595c0dd022734879fe1" />
    </application>

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.peng.saishi" >
    </instrumentation>

</manifest>